.imageCard {
  display: flex;
  flex-direction: column;
  background-color: #414141;
  border-radius: 5px;
  position: relative;
  color: white;
  width: calc(50vw + 50px);

  .imageContainer {
    width: 50vw;
    height: calc(50vw / 16 * 9);
    position: relative;
    margin: 20px 0px;

    img {
        border-radius: 10px;
    }
  }
  .description {
    padding: 15px;
    font-size: 14px;
  }
}
